extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Title: #{book.title}
        p Author: #{book.author}
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p Pages: #{book.pages}
        p Image: #{book.image}
        p= book.description